$main-font: 'Montserrat', sans-serif;

$main-fz: 14;

$font-color: #6B758E;

$btn-color: #FF6611;

$btn-color-hover: #EE3900;

$link-color: #FF5722;

$link-color-hover: #EE3900;

$shadow-default: 0 4px 1.142rem rgba(#2166D4, 0.16);

$light-gray: #e1e1e1;

$gray: #9b9b9b;

$dark-gray: #4A4A4A;

$darken-gray: #6B758E;

$purple-light: #F4F4F9;

$purple-lighten: #FAFAFE;

$error-color: #E34828;

$white: #F9F9FB;

$black: #142649;

$disabled: #E1E1E1;
