.form-group {
    margin-bottom: rem(14);
    .--flex {
        justify-content: space-between;
        .checkbox__label {
            max-width: 50%;
            font-size: rem(12);
            .checkbox {
                margin-top: 0;
            }
        }
        .control-label {
            margin-right: rem(8);
        }
    }
    &--margin-top {
        margin-bottom: 0;
        margin-top: rem(14);
    }
}

.control-label {
    font-weight: 400;
    font-size: rem(12);
    line-height: 1.6666;
    margin: 0 0 rem(4);
    b {
        color: $error-color;
    }
}

.form-control {
    display: block;
    height: rem(50);
    box-shadow: 0 0 0 transparent;
    border: 1px solid $light-gray;
    border-radius: rem(4);
    text-align: left;
    font-size: inherit;
    color: $font-color;
    font-weight: 500;
    padding: rem(6) rem(16);
    transition: all 250ms, z-index 0;

    &:hover,
    &:focus,
    &:active {
        border-color: #c4c4c4;
        box-shadow: none;
    }

    &[readonly] {
        background: #fff;
        &:hover,
        &:focus,
        &:active {
            box-shadow: 0 0 0 transparent;
            border-color: $light-gray;
        }
    }

    &:disabled,
    &.disabled {
        border-color: $purple-light;
        background: $purple-lighten;
        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
            border-color: $purple-light;
        }
    }

    &.invalid {
        border-color: $error-color;
    }

    &[name="card_holder"] {
        text-transform: uppercase;
    }

    &.--with-icon-right,
    &.--with-icon-right {
        & ~ .form-control-icon {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.--with-icon-right {
        padding-right: rem(42);

        & ~ .form-control-icon {
            right: rem(12);
        }
    }

    &.--with-icon-left {
        padding-left: rem(42);

        & ~ .form-control-icon {
            left: rem(12);
        }
    }
}

.help-text {
    color: $gray;
    font-size: rem(10);
    line-height: 1.4;
    font-weight: 400;
    padding-top: rem(6);
    &.--error,
    &.error {
        color: $error-color;
    }

    &.success {}
}

.paymethod-icon {
    display: inline-block;
    vertical-align: middle;
    width: rem(30);
    margin-right: rem(8);
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.currency-icon {
    display: inline-flex;
    width: rem(30);
    height: rem(30);
    justify-content: center;
    align-items: center;
    font-style: normal;
    background: $purple-light;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: rem(5);
    font-weight: 400;
    transition: all 250ms;
}

.form-group__amount {
    position: relative;

    i {
        display: block;
        font-style: normal;
        color: $gray;
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: rem(16);
        transform: translateY(-50%);
    }

    .form-control {
        padding-left: rem(34);
    }
}

.form-row {
    display: flex;
    justify-content: space-between;

    .form-group {
        margin-left: rem(16);
        &:first-child {
            margin-left: 0;
            flex-basis: 100%;
        }
    }
}

.form-control-icon {
    svg,
    img {
        display: block;
    }
}

.submit-box {
    padding-top: rem(10);
}

@media (min-width: 540px) {
    .form-group {
        &--cvv {
            display: block;
            width: rem(72);
            .form__input-wrapper {
                max-width: none;
            }
            .control-label {
                margin-right: 0;
                margin-top: rem(4);
                text-align: left;
            }
        }
    }
}
