.secure-check__label {
    background: #EDF0F2;
    border-radius: rem(4);
    padding: rem(8) rem(16);
    font-weight: 400;
}

.secure-check__title {
    font-weight: 500;
}

.secure-check__text {
    font-size: rem(12);
    color: rgba(0, 0, 0, 0.40);
    margin-top: 2px;
}
