$main-font: 'Montserrat', sans-serif;

$main-fz: 14;

$font-color: #4A4A4A;

$btn-color: #35A947;

$btn-color-hover: #2d8f3c;

$link-color: #FF5722;

$link-color-hover: #EE3900;

$shadow-default: 0 0 1.14rem 1px rgba(0,0,0,0.05);

$light-gray: #e1e1e1;

$gray: #9b9b9b;

$dark-gray: $font-color;

$purple-light: #F4F4F9;

$purple-lighten: #FAFAFE;

$error-color: #E34828;

$white: #F9F9FB;
